$bg-color: #292424;
$txt-color: #fff;

html, body {
    background-color: $bg-color;
    color: $txt-color !important;
}

.table {
    color: $txt-color !important;
}

.fix-cell-width {
    width: max-content;
}

.hidden{
    display:none;
}

a:any-link {
    text-decoration: none !important;
}