$bg-color: #292424;
$txt-color: #fff;

html, body {
    background-color: $bg-color;
    color: $txt-color !important;
}

.table {
    color: $txt-color !important;
}

.fix-cell-width {
    width: max-content;
}

img {
    height: 300px;
    width: 300px;
}

.hidden{
    display:none;
}