$bg-nav-color: #2d3e50;
$txt-color: #fff;

.nav {
    &bar {
        background-color: $bg-nav-color !important;
    }

    &-link, &bar-brand {
        color: $txt-color !important;
    }
}

.logo {
    height: 40px;
    width: 40px;
}