include ./components/head.pug
include ./components/navbar.pug


.section.mt-5
    h1 Webprogramramozás II. Különbözeti Vizsga 2023/2024, II. félév
    h4 Neuvald Richárd (FGTV2E)
    p Program: Egy adatbázist olvas, ír, frissít, elemeket töröl
    //- Todo: OLdal szépítése, design kitalálása 